body{

    height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
    height 72px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    padding-right: 150px;
    background-color: #1F2937;
    color: white;


}

.imageone {
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}
.imagetwo {
    height: 300px;
width: auto;
}

.imagethree{
height: 100px;
width: auto;

}

ul {list-style-type: none;
display: flex;
margin-left: auto;
gap: 10px;
margin-right: 20px;
}

a {
    color: white;
    font-style: none;   
    text-decoration: none;
}

.first-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #1F2937;
    color:#F9FAF8;
    justify-content: space-around;
    align-items: center;
   padding-bottom: 50px;
   
}

h1 {font-size: 48px;
font-weight: 900;
color: #F9FAF8;
width: 400px;
margin-bottom: 0px;
padding-bottom: 0px;

}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;

   
}

h4 {
    text-align: right;
    margin-right: 150px;
}

h5{ 
    color: white;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h6 {
    color: white;
    font-size: 16px;
    margin-top: 8px;
}

p {font-size: 18px;
    color: #E5E7EB;
    width: 400px;
   }

.buttonone { 
    background-color: #3882F6;
    color: white;
   font-size: 18px;
    padding: 10px 20px;
    border: 12px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.buttontwo { 
    background-color: #3882F6;
    color: white;
   font-size: 18px;
    padding: 7px 30px;
    border: 12px;
    border-radius: 12px;
    margin-bottom: 50px;
    border-color: white;
    border: 2px solid white;
    
}

.second-content {

display: flex;
gap: 52px;
text-align: center;
justify-content: center;

}

.text {
    width: 150px;
    margin-bottom: 50px;
    margin-left: auto;
}

.third-content {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.fourth-content {
    background-color: #3882F6;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 100px;
   margin: 50px 250px;
   border-radius: 12px;
}
.CTA-Button{
margin-left: 200px;
margin-top: 30px;

}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 150px;
   padding: 20px;   
}
